.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}

.contato__container {
    color: var(--verde-escuro);
}

.contato__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 500;
    padding-left: 0.7em;
}

.contato__texto {
    font-weight: 500;
    line-height: 25.6px;
    padding: 2em 1.5em;
}

.contato__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contato__input {
    background-color: var(--cinza-claro);
    padding: 0.75em 1.25em;
    border: 1px solid var(--cinza);
    width: 80%;
}

.contato__input::placeholder {
    color: var(--verde-escuro);
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 500;
}

.contato__escolher {
    background-color: var(--cinza-claro);
    color: var(--verde-escuro);
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid var(--cinza);
    padding: 0.75em 1.25em;
    width: 89%;
}

.contato__escolher option {
    color: var(--verde-escuro);
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 500;
}

.contato__botao {
    background-color: var(--cor-secundaria);
    color: var(--branco);
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    width: 89%;
}

.contato__icones {
    padding: 2em 1.5em;
}

.icone__telefone, .icone__email {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.5em 0;
}

.conteudo__nome {
    color: var(--verde-escuro);
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.conteudo__exemplo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 0.8125rem;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .contato {
        padding-top: 7em;
    }

    .contato__titulo {
        font-size: 2.5rem;
    }

    .contato__texto {
        padding: 2em;
        width: 60%;
    }

    .contato__input {
        padding: 1.5em;
        width: 85%;
    }

    .contato__input::placeholder {
        font-size: 1.125rem;
    }

    .contato__escolher {
        font-size: 1.125rem;
        padding: 1em;
        width: 90%;
    }

    .contato__botao {
        padding: 1.5em 0;
        width: 90%;
    }

    .contato__icones {
        display: flex;
        justify-content: space-between;
    }

    .conteudo__nome {
        padding-bottom: 0.5em;
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 1920px) {
    .contato {
        flex-direction: row;
        justify-content: center;
        gap: 136px;
        width: 70%;
        margin: 0 auto;
    }

    .contato__container {
        display: flex;
        flex-direction: column;
    }

    .contato__titulo {
        padding: 0;
    }

    .contato__texto {
        font-size: 1.125rem;
        padding: 2em 0;
        width: 85%;
    }

    .contato__input {
        width: 94%;
    }

    .contato__escolher {
        padding: 1em 1.5em;
        width: 100%;
    }

    .contato__botao {
        width: 100%;
    }

    .contato__icones {
        justify-content: start;
        padding: 2em 0;
        gap: 48px;
    }

}
