.depoimentos {
    background-color: var(--cor-principal);
    color: var(--branco);
    padding: 5em 0;
}

.depoimentos__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 500;
    padding-left: 1em;
}

.depoimentos__texto {
    line-height: 25.6px;
    padding: 2em 2em 4em 2em;
}

.depoimentos__botoes {
    display: none;
}

.depoimentos__container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 2em;
    justify-content: center;
}

.pessoa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
    color: var(--cor-principal);
    text-align: center;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    width: 20.4375em;
    height: 20.875em;
}

.pessoa__texto {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 21px;
    width: 80%;
}

.pessoa__imagem {
    width: 7.5em;
    height: 1.25em;
    padding: 1em 0;
}

.pessoa__nome {
    font-family: var(--fonte-secundaria);
    font-size: 1.25em;
    font-weight: 500;
    padding-top: .5em;
}

.pessoa__relacao {
    color: var(--verde-transparente);
    font-size: 0.875rem;
    font-weight: 500;
    padding-top: .5em;
}

@media screen and (min-width: 768px) {
    .depoimentos__titulo {
        font-size: 2.5rem;
    }

    .depoimentos__texto {
        width: 57%;
    }

    .depoimentos__container {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, auto);
        justify-content: normal;
        gap: 32px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 95%;
        margin: 0 auto;
    }

    .pessoa {
        width: 24em;
        height: 19.5625em;
        margin: 1em 0;
    }
}

@media screen and (min-width: 1920px) {
    .depoimentos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .depoimentos__header {
        display: flex;
        align-items: center;
        width: 65%;
    }

    .depoimentos__titulo {
        font-size: 3rem;
        padding: 0;
    }

    .depoimentos__texto {
        font-size: 1.25rem;
        line-height: 32px;
        padding: 2em 0 4em 0;
        width: 70%;
    }

    .depoimentos__botoes {
        display: flex;
        gap: 15px;
    }

    .botao__esquerda, .botao__direita {
        background: none;
    }

    .depoimentos__container {
        justify-content: space-between;
        width: 65%;
        margin: 0;
    }

    .pessoa {
        height: 24.1875em;
    }

    .pessoa__texto {
        font-size: 1rem;
        line-height: 25.6px;
    }

    .pessoa__nome {
        font-size: 1.5rem;
    }

    .pessoa__relacao {
        font-size: 1rem;
    }

}
