.espaco__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verde-escuro);
    padding: 5em 0;
}

.espaco__anuncio {
    text-align: center;
    width: 80vw;
    padding: 1em 0 2em 0;
}

.espaco__subtitulo {
    color: var(--cor-secundaria);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.espaco__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 500;
    line-height: 35.2px;
    padding: 0.5em 0;
}

.espaco__cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: var(--cinza-claro);
    border: 1px solid var(--cinza);
    border-radius: 5px;
    width: 20.4375em;
    height: 17.3125em;
}

.card__imagem {
    width: 75px;
    height: 75px;
}

.card__texto {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 28.8px;
    width: 80%;
}

.espaco__botao {
    display: none;
}

@media screen and (min-width: 768px) {
    .espaco__subtitulo {
        font-size: 1.125rem;
    }

    .espaco__titulo {
        font-size: 2.5rem;
        line-height: 44px;
    }

    .espaco__cards {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, auto);
        overflow-x: scroll;
        overflow-y: hidden;
        width: 90%;
        justify-content: center;
    }    

}

@media screen and (min-width: 1920px) {
    .espaco__botao {
        display: block;
        background: none;
    }

    .espaco__esquerda {
        position: absolute;
        top: 40%;
        left: 12%;
    }

    .espaco__direita {
        position: absolute;
        top: 40%;
        right: 12%;
    }

    .espaco__cards {
        position: relative;
        width: 100%;
    }
}
