.sobre-nos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--branco-fumaca);
    padding-top: 4em;
}

.sobre-nos__conteudo {
    width: 90%;
}

.sobre-nos__botao {
    background-color: var(--cor-secundaria);
    color: var(--verde-escuro);
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5em 0.75em;
    border-radius: 4px;
}

.sobre-nos__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 500;
    line-height: 35.2px;
    padding: 1em 0;
}

.sobre-nos__texto {
    font-weight: 500;
    line-height: 25.6px;
}

.texto-2 {
    padding: 1.5em 0;
}

.sobre-nos__imagem {
    width: auto;
    height: auto;
    padding: 1em 0 3em 0;
}

@media screen and (min-width: 768px) {
    .sobre-nos__botao {
        font-size: 1.125rem;
        padding: .5em 1em;
    }

    .sobre-nos__titulo {
        font-size: 2.5rem;
        line-height: 44px;
        width: 80%;
    }

    .sobre-nos__conteudo {
        width: 92%;
    }

    .sobre-nos__imagem {
        padding: 2em 0 6em 0;
    }

}

@media screen and (min-width: 1920px){
    .sobre-nos__container {
        flex-direction: row;
        padding-top: 0;
    }

    .sobre-nos__imagem {
        padding: 0;
    }

    .sobre-nos__conteudo {
        margin: 0 3em 0 16em;
        width: 39%;
    }

    .sobre-nos__botao {
        font-size: 1rem;
        padding: 0.5em 1em;
    }

    .sobre-nos__titulo {
        font-size: 3rem;
        line-height: 52.8px;
    }

    .sobre-nos__texto {
        font-size: 1.125rem;
        line-height: 28.8px;
        margin-right: 8em;
    }
}
