.spoiler__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verde-escuro);
    padding: 5em 0
}

.spoiler__anuncio {
    text-align: center;
    width: 80vw;
    padding: 1em 0 2em 0;
}

.spoiler__subtitulo {
    color: var(--cor-secundaria);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.spoiler__titulo {
    font-family: var(--fonte-secundario);
    font-size: 2rem;
    font-weight: 500;
    line-height: 35.2px;
    padding: 0.5em 0;
}

.spoiler__galeria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    column-gap: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
}

.spoiler__imagem {
    border-radius: 4px;
}

.spoiler__botao {
    display: none;
}

@media screen and (min-width: 768px) {
    .spoiler__subtitulo {
        font-size: 1.125rem;
    }

    .spoiler__titulo {
        font-size: 2.5rem;
        line-height: 44px;
    }

    .spoiler__galeria {
        justify-content: center;
    }

}

@media screen and (min-width: 1920px) {
    .spoiler__galeria {
        position: relative;
        width: 100%;
    }

    .spoiler__botao {
        display: block;
        background: none;
    }

    .spoiler__esquerda {
        position: absolute;
        top: 39%;
        left: 16.5%;
    }

    .spoiler__direita {
        position: absolute;
        top: 39%;
        right: 16.5%;
    }

}
