.spoiler__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verde-escuro);
    padding: 5em 0
}

.spoiler__anuncio {
    text-align: center;
    width: 80vw;
    padding: 1em 0 2em 0;
}

.spoiler__subtitulo {
    color: var(--cor-secundaria);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.spoiler__titulo {
    font-family: var(--fonte-secundario);
    font-size: 2rem;
    font-weight: 500;
    line-height: 35.2px;
    padding: 0.5em 0;
}

.spoiler__galeria {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 32px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
}